.App {
  text-align: center;
}
@font-face {
  font-family: 'Sofachrome';
  src: url('./fonts/sofachrome.ttf') format('truetype');
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo{
  position:absolute;
  top:6em;
  right:1em;
  height:8em;
  z-index:1000;
}
.Carousel{
  height:39em;
}
.Content{
  margin: 2%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4em;
}
.ContentContainer{
  height:11em;
  background-color:rgb(33, 37, 41);
  color:white;
  margin-top:-9em;
}
.Title{
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom:-0.5em;
}
.Contact{
  display:grid;
  grid-template-rows: 1;
  grid-template-columns: 3;
  background-color: black;
}
.ContactText{
  color: white;
}
footer{
  position: relative;
  width:100%;
  bottom:0%;
  left:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background-color: black;
  color:white;
  
}
.page .text{
  color: black;
  font-size:1.4em;
  text-align: center;
  /* background-color: #001c53; */
}
.App-header {
  background-color: #001c53;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel.slide .carousel-indicators button{
  width:2em;
  height: .2em;
}
.carousel-image{
  height: 30em;
  width:100%;
  object-fit:fill;
}
.slider{
  color:white;
  position: absolute;
  top:95%;
  left:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

}
.logoNavButton{
  align-items: center;
  margin-left:0.3em;
}
.logoNavButtonText{
  font-family: 'sofachrome';
  font-size: 0.8em;
  display:flex;
  align-items: baseline;
}
